<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.gyj.backend.mapper.bean.NewClassMonthTCSMapper">
    <resultMap id="BaseResultMap" type="edu.gyj.backend.bean.LevelMonthTCSBean">
        <result column="id" property="id"/>
        <result column="year" property="year"/>
        <result column="month" property="month"/>
        <result column="consumption_category" property="consumption_category"/>
        <result column="consumption_total_money" property="consumption_total_money"/>
        <result column="consumption_average_money" property="consumption_average_money"/>
        <result column="max" property="max"/>
        <result column="min" property="min"/>
        <result column="count" property="count"/>
        <result column="high" property="high"/>
        <result column="low" property="low"/>
        <result column="class" property="name"/>
    </resultMap>
    <select id="findAll" resultMap="BaseResultMap">
        select class.id,
               year,
               month,
               consumption_category,
               consumption_total_money,
               consumption_average_money,
               max,
               min,
               count,
               high,
               low,
               class.class
        from class_month_three_meals_statistics1,
             class
        where class.id = class_month_three_meals_statistics1.id
    </select>
    <select id="findByIdAndMonth" resultMap="BaseResultMap">
        select class.id,
               year,
               month,
               consumption_category,
               consumption_total_money,
               consumption_average_money,
               max,
               min,
               count,
               high,
               low,
               class.class
        from class_month_three_meals_statistics1,
             class
        where class.id = class_month_three_meals_statistics1.id
          and class.id = #{id}
          and month = #{month}
          and year = #{year}
    </select>
</mapper>