<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.gyj.backend.mapper.student.StudentDayTCSMapper">
    <resultMap id="BaseResultMap" type="edu.gyj.backend.entity.student.StudentDayTCSEntity">
        <result column="sid" property="sid"/>
        <result column="name" property="name"/>
        <result column="consumption_category" property="consumption_category"/>
        <result column="day" property="day"/>
        <result column="consumption_count" property="count"/>
        <result column="consumption_total_money" property="totalMoney"/>
        <result column="consumption_average_money" property="averageMoney"/>
    </resultMap>
    <select id="findAll" resultMap="BaseResultMap">
        select sid,
               name,
               consumption_category,
               day,
               consumption_count,
               consumption_total_money,
               consumption_average_money
        from student_day_three_meals_statistics,
             student
        where student_day_three_meals_statistics.sid = student.id
    </select>
    <select id="findBySid" resultMap="BaseResultMap" parameterType="java.lang.String">
        select sid,
               name,
               consumption_category,
               day,
               consumption_count,
               consumption_total_money,
               consumption_average_money
        from student_day_three_meals_statistics,
             student
        where student_day_three_meals_statistics.sid = student.id
          and student.id = #{sid}
    </select>
    <select id="findByDate" resultMap="BaseResultMap" parameterType="java.sql.Date">
        select sid,
               name,
               consumption_category,
               day,
               consumption_count,
               consumption_total_money,
               consumption_average_money
        from student_day_three_meals_statistics,
             student
        where student_day_three_meals_statistics.sid = student.id
          and day = #{date}
    </select>
</mapper>