<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.gyj.backend.mapper.classCS.ClassCSMapper">
    <resultMap id="BaseResultMap" type="edu.gyj.backend.entity.classCS.ClassCSEntity">
        <result column="class_id" property="class_id"/>
        <result column="class" property="name"/>
        <result column="consumption_count" property="consumption_count"/>
        <result column="consumption_total_money" property="consumption_total_money"/>
        <result column="consumption_average_money" property="consumption_average_money"/>
        <result column="consumption_student_average_money" property="consumption_student_average_money"/>
        <result column="student_count" property="student_count"/>
        <result column="consumption_low_count" property="consumption_low_count"/>
        <result column="consumption_high_count" property="consumption_high_count"/>
        <result column="student_low_count" property="student_low_count"/>
        <result column="student_high_count" property="student_high_count"/>
    </resultMap>
    <select id="findAll" resultMap="BaseResultMap">
        select class_id,
               class,
               consumption_count,
               consumption_total_money,
               consumption_average_money,
               consumption_student_average_money,
               student_count,
               consumption_low_count,
               consumption_high_count,
               student_low_count,
               student_high_count
        from class,
             class_day_consumption_statistics
        where class.id = class_day_consumption_statistics.class_id
    </select>
    <select id="findByClassId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select class_id,
               class,
               consumption_count,
               consumption_total_money,
               consumption_average_money,
               consumption_student_average_money,
               student_count,
               consumption_low_count,
               consumption_high_count,
               student_low_count,
               student_high_count
        from class,
             class_day_consumption_statistics
        where class.id = class_day_consumption_statistics.class_id
          and class.id = #{id};
    </select>
</mapper>