<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.gyj.backend.mapper.major.MajorMonthCSMapper">
    <resultMap id="BaseResultMap" type="edu.gyj.backend.entity.major.MajorMonthCSEntity">
        <result column="major_id" property="major_id"/>
        <result column="major" property="name"/>
        <result column="month" property="month"/>
        <result column="year" property="year"/>
        <result column="consumption_count" property="consumption_count"/>
        <result column="consumption_total_money" property="consumption_total_money"/>
        <result column="consumption_average_money" property="consumption_average_money"/>
        <result column="consumption_student_average_money" property="consumption_student_average_money"/>
        <result column="student_count" property="student_count"/>
        <result column="consumption_low_count" property="consumption_low_count"/>
        <result column="consumption_high_count" property="consumption_high_count"/>
        <result column="student_low_count" property="student_low_count"/>
        <result column="student_high_count" property="student_high_count"/>
    </resultMap>
    <select id="findAll" resultMap="BaseResultMap">
        select major_id,
               major,
               month,
               year,
               consumption_count,
               consumption_total_money,
               consumption_average_money,
               consumption_student_average_money,
               student_count,
               consumption_low_count,
               consumption_high_count,
               student_low_count,
               student_high_count
        from major,
             major_month_consumption_statistics
        where major.id = major_month_consumption_statistics.major_id
    </select>
    <select id="findByMajorId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select major_id,
               major,
               month,
               year,
               consumption_count,
               consumption_total_money,
               consumption_average_money,
               consumption_student_average_money,
               student_count,
               consumption_low_count,
               consumption_high_count,
               student_low_count,
               student_high_count
        from major,
             major_month_consumption_statistics
        where major.id = major_month_consumption_statistics.major_id
          and major.id = #{classId}
    </select>
    <select id="findByMonth" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select major_id,
               major,
               month,
               year,
               consumption_count,
               consumption_total_money,
               consumption_average_money,
               consumption_student_average_money,
               student_count,
               consumption_low_count,
               consumption_high_count,
               student_low_count,
               student_high_count
        from major,
             major_month_consumption_statistics
        where major.id = major_month_consumption_statistics.major_id
          and month = #{month}
          and year = #{year}
    </select>
    <select id="findByYear" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select major_id,
               major,
               month,
               year,
               consumption_count,
               consumption_total_money,
               consumption_average_money,
               consumption_student_average_money,
               student_count,
               consumption_low_count,
               consumption_high_count,
               student_low_count,
               student_high_count
        from major,
             major_month_consumption_statistics
        where major.id = major_month_consumption_statistics.major_id
          and year = #{year}
    </select>
</mapper>